.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.header__logo {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.header__basket-card {
    justify-content: flex-end;
}